* {
  margin: 0px;
}
div {
  width: 800px;
  margin: 20px auto;

  text-align: center;
}

.Smith {
  text-transform: lowercase;
  text-shadow: 3px 3px;
}
p {
  margin-bottom: 20px;
}
img {
  margin-top: 20px;
  margin-right: 20px;
}
