*{
 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
 
html,body{
 
    height: 100%;
    width: 100%;
 
}

#page1,#page2,#page3,#page4{
    height: 100%;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#page1{
    background-color: antiquewhite;
}
#page2{
    background-color: cadetblue;
    position: relative;
}
#page3{
    background-color: chocolate;
    display: flex;
     align-items: center;
    justify-content: center;
}
#page4{
    background-color: steelblue;
    
   
}

.circle{
    height: 200px;
    width: 200px;
    background: linear-gradient(red,pink);
    border-radius: 50%;
}

#page2 img{
    height: 100%;
    width:20%;
    object-fit: cover;
    object-position: left;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}