* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
nav {
  position: sticky;
  /* position: fixed; */
  top: 0;
  /* height: 50px */
}
nav h1 {
  /* font-size: 48px; */
  background-color: rgb(108, 208, 201);
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.458);
  font-size: 42px;
  color: rgb(241, 129, 81);
  font-family: cursive;
  margin-bottom: 30px;
}
img {
  width: 240px;
  height: 220px;
}
.container {
  display: grid;
  margin: 0 300px;
  /* padding-left: 300px;
  padding-right: 300px; */
  /* width: 1920px */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}
.cards {
  /* height: 420px; */
  /* width: 240px; */
  display: flex;
  flex-direction: column;
  border: solid rgba(128, 128, 128, 0.101) 2px;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.17);
}
.details {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
p {
  font-weight: 600;
}
