* {
  margin: 0;
  padding: 0;
}
.container {
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* grid-auto-flow: ; */
  row-gap: 60px;
}
.box {
  /* height: 240px; */
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 0.1px solid rgba(128, 128, 128, 0.304);
  box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.681);
  padding-bottom: 10px;
}
/* .bo */
.box .texts {
  padding-left: 10px;
  padding-right: 10px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.box .h2title {
  font-size: medium;
  text-align: start;
}
.money {
  display: flex;
  gap: 10px;
}
.innerDetails {
  display: flex;
  gap: 10px;
}
.pbest {
  color: black;
  font-size: small;
  font-weight: 700;
  background-color: yellow;
  width: fit-content;
}
