#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right top,rgb(99, 226, 237),rgb(203, 81, 220));
    position: sticky;
    top:0;
    left: 0;
    
}
.header ul{
    height: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    
}
.header ul li a{
    text-decoration: none;
}
.header ul li a::before{
    /* content: none;
    text-shadow: 10px 10px 10px rgb(198, 64, 64);

    position: absolute;
    top: 50px;
    bottom: 20px; */
    content: "";
        display: block;
        height: 5px;
        background: #000;
        margin-bottom: 10px;
}
.header ul li a::after{
    content: "";
        display: block;
        height: 5px;
        background: #000;
        margin-top: 8px;
    
}
.footer{
    /* height: 10vh; */
    /* display: flex;
    align-items: center; */
}   
.footer-container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    /* grid */
}