form{
    padding: 60px;
    width:60%;
    margin: 20px auto;
    display:grid;
    flex-direction: column;
    justify-content: stretch;
    align-items: start;
    border: solid 1px ;
    gap:30px;
}


.name,.pass{
    width:400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /* justify-items: end; */
    align-items: center;
}
input[type=text],input[type=password]{
    align-self: right;
    width: 300px;
    height:30px;

}
.name, .pass,.button{
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
button{
    width:100px;
}