@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 
html,body{
 
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

@font-face {
    font-family: monument;
    src: url(./fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf);
}
@font-face {
    font-family: monument;
    src: url(./fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Ultrabold.otf);
}
#main{
    /* height: 100%; */
    height: fit-content;
    width: 100%;
    /* background-color: #f2f2f2; */
    /* background-color: rgb(157, 248, 248); */
    position: relative;
    padding-top: 0.1px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items:center;
}
#nav{
    height: 10vh;
    width:100%;
    margin-top: 2vw;
    /* background-color: red; */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav h1{
     height: 100%;
    /* background-color: blue; */
    color: rgb(41, 39, 39);
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rampart One";
    font-size: 4vw;
    letter-spacing: -2px;
    margin-left: 4%;
    position: relative;
}
#nav h1::before{
    content: "©";
    position: absolute;
    font-size: 2vw;
    /* top: 10%; */
    bottom: 60%;
    left: 100%;
    font-weight: 100;
}
#nav h1::after{
    width: 100%;
    content: 'model management';
    font-family: monospace;
    position: absolute;
    font-weight: 900;
    font-size: 1.8vw;
    letter-spacing: 1.8;
    /* top: 10%; */
    top: 70%;
    right: -20%;
    font-weight: 100;
    color: #1c1b1b;
}
#nav h2{
    height: 100%;
    /* background-color: blue; */
    color: rgb(41, 39, 39);
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #000;
    font-size: 2vw;
    font-weight: 500;
    word-spacing: 1px;
}
#nav h2:nth-last-child(2){
    width: 24%;
    /* background-color: azure; */
}
#nav h2:nth-last-child(1){
    width: 18%;
    padding-left: 5%;
    /* background-color: azure;  */
    display: flex;
    justify-content: start;

}
#center{
    /* height: calc(100% - 12vh - 30px); */
    height: calc(100vh - 12vh - 30px);
    /* background-color: red; */
    position: relative;
    width: 100%;
    padding: 5vw;
}
#center #content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}
#center #content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 45%;
    width: 100%;
    position:absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.188);
    backdrop-filter: blur(2px);
    
}
#overlay #over1{
    display: flex;
    align-items: start;
    justify-content: space-between;
    
}
#overlay #over1 h1{
    font-family: monument;
    font-size: 3vw;
    font-weight: 100;
    /* mix-blend-mode: color-dodge; */
}
#overlay #over1 h2{
    /* border-radius: 50%; */
    /* border: solid 1px gray; */
    padding: 2vw;
    position: relative;
}

#overlay #over1 h2::before{
    position: absolute;
    content: "";
    color: gray;
    height: 100%;
    width: 100% ;
    top: 0%;
    right:0%;
    border: solid 1px gray;
    border-radius: 50%;
}
#overlay .divider{
    height: 0.1px;
    width:100%;
    background-color: #f2f2f2;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-radius: 5px;
}
#overlay #over2{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
#overlay #over2 a{
    text-decoration: none;
    color: bisque;
}
#overlay #over2 a i{
    font-size: 2vw;
    color: gray ;
    margin-right: 2vw;
}
/* SCROLL Begins Here */
#scroll{
    height: 40vh;
    width: max-content;
    /* white-space: nowrap; */
    overflow-x: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow-x: hidden;
}

#scroll .container{
    
    height: 100%;
    width: fit-content;
    /* background-color: purple; */
    flex-shrink: 0;
    padding: 1vw;
    /* display: inline-block; */
    display: flex;
    overflow-x: hidden;
    /* overflow-x: auto; */
    gap: 1vw;
    justify-content: flex-start;
    align-items: center;
    animation: sliding 50s infinite linear;
}
#scroll .container{
    padding-left: 0;
}
#scroll .container img{
    /* display: none;  */
    height: 70%;
    width: 20%;
    object-fit: cover;
    border-radius: 50%;
}

@keyframes sliding {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
/* SCROLL ENds Here */
#alphabet{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabet h5{
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #000;
    letter-spacing: 3px;
    margin-right: 0.6vw;
}
#alphabet h6{
    font-size: 0.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-radius: 50%;
    padding: 0.4vw 0.5vw;
    transition: all ease 0.1s;
}
#alphabet h6:hover{

    border: 0.1px solid #000;

}
/* page1 */
#page1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6vw 5vw;
    gap: 5vw;
}
#page1 #part1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5vw;
}
#page1-part1-container1{
    height: 70vh;
    width: 60%;
    
}
#page1-part1-container1 img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

#page1-part1-container2{
    height: 70vh;
    width: 46%;
    /* background-size: cover;
    background-position: center; */
}
#page1-part1-container2 img{
    height: 75%;
    width: 100%;
    object-fit: cover;
}
#page1-part1-container2 #paragraph-container{
    margin-top: 5%;
    height: 15%;
    width:100%;
    display: flex;
    justify-content: space-between;
}
#page1-part1-container2 #paragraph-container h5{
    width: 45%;
    font-size: 1.7vw;
    font-weight: 500;
    text-align: start;
}
#page1-part1-container2 #paragraph-container p{
    width: 60%;
    font-size: 1.2vw;
    word-spacing: 1.1;
}
/* part2 */
#page1 #part2{
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5vw;
}
#page1-part2-container1{
    height: 100%;
    width: 50%;
    /* background-image: url(https://images.unsplash.com/photo-1615414400871-0c67042d9653?q=80&w=2264&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    /* background-size: cover;
    background-position: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page1-part2-container2{
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

#page1-part2-container1 h5{
    font-size: 4vw;
    font-family: monument;
}
#page1-part2-container1 #rotate{
    height: 70%;
    width: 100%;
    /* background-color: cadetblue; */
}
#page1-part2-container1 #rotate a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


#page1-part2-container1 #rotate a svg{
    position: absolute;
    /* left: 15%;
    top: 15%; */
    /* left: 10%; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    animation: rotate 13s infinite ;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
        scale: 1.6;
    }
    to{
        scale:1;
        transform: rotate(-360deg);
    }
}
#page1-part2-container1 #rotate a i{
    position: absolute;
    /* left: 45%;
    top: 45%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
    color: rgb(72, 154, 225);
    animation:rotate 13s reverse;
    animation-iteration-count: infinite;
    
    transition: 0.3s  ease all ;
}
#page1-part2-container1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}
#page1-part2-container2 img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}
/* part3 */
#page1 #part3{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}
#page1 #part3 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1 #part3 #overlay2{
    height: 40%;
    width: 100%;
    background-color: rgba(151, 125, 176, 0.612);
    position: absolute;
    bottom: 0;
    
    padding: 3vw;
}
#page1 #part3 #overlay2 #over3{
    height: 59%;
    width: 100%;
    display: flex;
    color: rgb(177, 243, 172);
    flex-direction: row-reverse;
    justify-content: space-between;
}
#page1 #part3 #overlay2 #over3 h1{
    font-family: monument;
}
#page1 #part3 #overlay2 .divider{
    height: 0.1px;
    width:100%;
    background-color: #f2f2f2;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-radius: 5px;
    
}
#page1 #part3 #overlay2 #over4{
    height: 30%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}


#page1 #part3 #overlay2 #over4 a{
    text-decoration: none;
    color: burlywood;
}
#page1 #part3 #overlay2 #over4 a i{
    font-size: 3vw;
}
/* PAGE 2 */
#page2{
    height: 100vh;
    width: 100% ;
    background-color: rgba(217, 204, 204, 0.611);
    padding: 5vw 4vw;
    position: relative;
}
#page2>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 4vh;
}
.elem{
    height: 18vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid black;
    display: flex;
    /* justify-content: space-between; */
    position: relative;

    transition: all 0.7s ease ;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
.elem .type{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 1.3vw;
    left: 0%;
}
/* .elem .type p{
    height: 50%;
    width: 50%;
    font-size: 1.3vw;
} */
.elem .elem-image{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    position:absolute;
    left: 10%;
    
    
}

.elem .elem-image img{
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    border-radius: 50% ;
    opacity: 0;
    transition: all 0.7s ease ;
    position: absolute;
    left: 0%;
    
}
.elem:nth-child(odd) .elem-image img{
    left: 50%;
}
.elem:hover{
    background-color: rgb(164, 160, 160);
}
.elem:hover .elem-image img{
    opacity: 1;
    left: 24%;
}


.elem .details{
    height: 100%;
    width: 50%;
    display: flex;
    position: absolute;
    left: 50%;
    flex-direction: column;
    justify-content: center;
}
.elem .details h1{
    font-size: 3vw;
    font-weight: 400;
}
.elem .details p{
    font-size: 1.1vw;
    font-weight: 400;
    color: #000000d6;
    text-transform: uppercase;
}

/* PAGE3 */

#page3{
    min-height: 100vh;
    width: 100%;
    padding:6vw 5vw;
    /* background-color:rgb(163, 112, 112) ; */
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
#page3 #section1{
    height: 70vh;
    width: 100%;
    display: flex;
    gap: 5% ;
}
#page3 #section1 img{
    height: 100%;
    width: 45%;
    object-fit: cover;
}
#page3 #section1 #container1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
#page3 #section1 #container1 #part1{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#page3 #section1 #container1 #part2{
    height: 50%;
    width: 100%;
    display: flex;
    gap: 5%;
}
#page3 #section1 #container1 #part1 h1{
    font-family: monument;
    font-size: 3.2vw;
}
#page3 #section1 #container1 #part1 h3{
    font-size: 2vw;
    width: 60%;
    font-weight: 500;
    color: rgb(26, 25, 25);
}

#page3 #section1 #container1 #part1 p{
    font-size: 1.2vw;
    color: rgb(58, 56, 56);
}
#page3 #section1 #container1 #part2 img:first-child{
    height: 100%;
    width:55%;
    object-fit: cover;
    object-position: top;
}
#page3 #section1 #container1  #part2 img:last-child{
    height: 100%;
    width: 40%;
    object-fit: cover;
    object-position: center;
   
}
#page3 #section2{
    height: 70vh;
    width: 100%;
    background-color: black;
}
#page3 #section2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}
#page3 #section3{
    height: 70vh;
    width: 100%;
    display: flex;
    gap: 5%;
}

#page3 #section3 > img{
    height: 100%;
    width: 60%;
    object-fit: cover;
}
#page3 #section3 #container1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#page3 #section3 #container1 img{
    height: 65%;
    width: 100%;
    object-fit: cover;
}
#page3 #section3 #container1 #part{
    height: 30%;
    width: 100%;
    display: flex;
    /* align-items: center; */
    gap: 5%;
    justify-content: space-between;
}

#page3 #section3 #container1 #part h3{
   
    height: max-content;
    width:45%;
    font-size: 1.6vw;
    font-weight: 500;
    line-height: 1.4;
}

#page3 #section3 #container1 #part p{
   
    height: 100%;
    width:50%;
    font-size: 1vw;
    font-weight: 200;
    line-height: 1.4;
    /* text-align: ; */
}
/* footer */
#footer{
    margin-top: 8vh;
    min-height: 80vh;
    width: 100%;
    /* background-color: turquoise; */
    display: flex;
    flex-direction: column;
    gap: 2vh;

}
#footer #section1{
    /* height: 20vh; */
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    /* overflow-x: hidden; */
    overflow: auto;
    gap: 2vh;
}
#footer #section1 .container{
    /* height: 100%; */
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;

}

#footer #section1 p{
    /* height: 100%; */
    width: max-content;
    font-size: 9vh;
    text-transform: uppercase;
    font-weight: 900;
    animation: sliding 5s infinite linear;
    -webkit-text-stroke: 2px black ;
    color: transparent;
    font-family: monument;
    letter-spacing: 1px;
    padding-left: 3vw;
}

#footer #section2{
    min-height: 30vh;
    width: 100%;
    padding:6vw 5vw;
}
#footer #section2 #container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 8% 41% 41% ;
    grid-template-rows: 20vh 1fr ;
    row-gap: 2vw;
    column-gap: 4vw;
}
#footer #section2 #container h1{
    grid-row: 1/2;
    grid-column: 1/2;
    font-family: monument;
    font-size: 3vw;
}
#footer #section2 #container p{
    line-height: 1.6rem;
    
    text-align: justify;
    font-size: 1.6vw;
    word-spacing: 1.8;
    margin-top:4vw;

  font-family: "Roboto", serif;
    font-weight: 500;
    color: #000000d1;

}
#footer #section2 #container #para1{
    grid-row: 1/2;
    grid-column: 2/3;
  
}

#footer #section2 #container #para2{
    grid-row: 1/2;
    grid-column: 3/4;
   

}
#footer #section2 #container p span{
    margin-right: 2vw;
    display: inline-block;
    padding: 1px 9px;
    border-radius: 50%;
    border: 1px solid black;
}

#footer #section2 #container #img-container{
   
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: justify;
    display: flex;
    justify-content: space-between ;
    gap: 4vw;
    height: 100%;
    width: 100%;
    
}
/* #footer #section2 #container #img2{
    grid-row: 2/3;
    grid-column: 3/3;
    text-align: justify;
    height: 100%;
    width: 100%;
} */
#footer #section2 #container #img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#footer #section2 #container #img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#footer #section3 {
    min-height: 20vh;
    /* padding: 4vw 5vw; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 10vh 20vh;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    margin-bottom: 5vw;
    
}
#footer #section3 h1{
    grid-column: 1/2;
    grid-row: 1/2;
    /* padding: 0vw 5vw; */
    /* justify-self: center; */
    padding-top:2vw;
    padding-left: 5vw;
    text-transform: uppercase;
    font-family: monument;
    font-size: 3vw;

}
#footer #section3 a{
    text-decoration: none;
    display:flex;
    justify-content:center;
    padding-top:3vw;
    color: black;
    font-size: 2vw;
}

#footer #section3 #models{
    grid-column: 2/3;
    grid-row: 1/3;
    
}

#footer #section3 #gender{
    grid-column: 3/4;
    grid-row: 1/3;
    text-decoration: none;
    display:flex;
    justify-content:center;
    border-left: 2px solid black;
    padding-top:3vw;
}

#footer #section3 #agency{
    grid-column: 4/5;
    grid-row: 1/2;
    text-decoration: none;
    display:flex;
    justify-content:center;

    border-left: 2px solid black;
    padding-top:3vw;
}

#footer #section3 .container{
    grid-column: 4/5;
    grid-row: 2/2;
    border-top: 2px solid rgb(0, 0, 0);
    border-left: 2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 2vw 5vw;
}   

#footer #section3 .container p{
    font-size: 2vw;
}