@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position:relative;
}
h1{
	position:absolute;
	position:sticky;
	z-index:100;
	top:0px;
	left:0px;
	right:0px;
	background-color:transparent;
}

.formContainer .container{
	height:100%;
	position: absolute;
	display:flex;
	flex-direction:column;
	height:max-content;
	width:max-content;
}

.formContainer .addEmp {
	display: inline-block;
	align-self: flex-end;
	margin-bottom:20px;

}
.formContainer .container{
	padding:30px 40px;
	animation-name: mymove;
  	animation-duration: 4s;
	box-shadow:  0px 0px 200px 0px gray;
}
.formContainer .container .tableContainer table{
	
	box-shadow: inset 2px 6px 20px 5px gray;
	
}
.formContainer .create{
	
	color:#04f8a0;
	background-color:#6868ff;
	   
}
.formContainer .update{

	color:black;
	background-color:#9dfd82;
}
.formContainer .delete{

	color:blue;
	background-color:#ff9b9b;
}



th,
td{
	border:solid 2px gray;
	padding: 15px;
}

/**/
.operations{
	padding:4px 8px;
	height:60px;
	width:120px;
	box-shadow: 0px 5px 11px 0px gray;
	border: none;
	
    border-radius: 96px;
}
.operations:active{
	box-shadow: 0px 0px gray;
}

@keyframes mymove {
  from {
  	/* top: 0px; */
  	
  translate: -1000px -2000px;
  }
  to {
  translate: 0px 0px;
  }
} 
